html {
  background-image: url("bitttttttttt.jpeg");
  width: 1000px;
  align-items: center;
  justify-content: center;
  margin-right: 2000px;
  margin-bottom: 0px;
  margin-top: 0px;
}
button {
   border-radius: 8px;
   border: 4px solid rgb(0, 0, 0);  
   background-color: rgb(255, 251, 5); 

}
input {
   border-radius: 8px;  
   color:rgb(5, 1, 1);
   border: 4px solid rgb(0, 0, 0);   
   background-color: rgb(255, 255, 255); 
}
form {
  align-items: center;
  font-weight: bold;
  text-align: center;  
  background-color: rgba(1, 225, 255, 0.596); 
  color: rgb(238, 255, 0); 
  display: grid; 
  width: 360px;  
  padding: 20px;  
  border: solid rgb(0, 0, 0) 4px;  
  border-radius: 20px;  
  margin-right: 200px;  
  margin-left: 70px;  



}

.bookForm {
  display: grid;
  width: 275px;
  border: solid rgb(5, 5, 3) 4px;
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(8, 192, 238, 0.404);
  color: rgb(0, 255, 85);
  align-content: center;  
  margin-right: 200px;  
  margin-left: 110px;  

 

}

#bookName {
  margin: 8px;  
  border-radius: 8px;
}

#bookAuthor {
  margin: 8px;  
  border-radius: 8px;  
  border: 4px solid rgb(5, 10, 5);  

}

#read {
  margin: 8px;  
  border-radius: 8px;  
}

#submit {
  margin: 8px;
  border: solid rgba(255, 254, 254, 0.637) 2px;
  border-radius: 8px;
}

table {
  width: 200px;
  margin-top: 0px auto;
  border: solid rgba(255, 253, 253, 0.685) 2px; 
  border-radius: 8px;  
  display: grid;   
  margin-left: 80px;    
  margin-top: 0px;



}

#settings {
  width: 50px; 
  border-radius: 8px;  
  display: grid;   
  margin-left: 200px; 
  margin-top: 0px;



}
#settings > * {
  margin-top: 0px;
  border: solid rgba(253, 251, 251, 0.726) 2px; 
  border-radius: 8px;  
  margin-left: 200px;

}
.Header {
  display: grid;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 140, 255, 0.404);
  color: rgb(255, 238, 0);  
  border-radius: 8px;
  width: 45%;  
  margin-left: 55px;  
  font-weight: bold;
  justify-content: center;  
  border: 1px solid rgb(229, 255, 0);
  margin-top: 0px;
  height: 80px;
}
.Header > p {
  margin-left: 0px;
  margin-right: auto;
}

hr { 
  width: 30%;
  border-color: rgb(0, 0, 0);
  margin-left: 120px;
}

.Footer {
  text-align: center;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
  background-color: rgba(0, 195, 255, 0.37);
  color: #000000;
  width: 31%;  
  margin-left: 115px;
  font-weight: bold;  
  justify-content: center;  
  display: grid;   
  border: 1px dotted rgb(237, 253, 6);
  height: 55px;

}
#logoHeader {
  margin-right: 10px;
  margin-left: auto;
  width: 40px;
  height: 40px;
}
#footerLogo {
  width: 20px;
  height: 20px;
}
@media only screen and (max-width: 600px) {
  .bookForm,
  table {
    width: auto;
    table-layout: fixed; 
    border-radius: 8px;  
    display: grid;  
    margin-left: 80px;    
    margin-top: 0px;  

 

   


  }
  td {
    word-break: break-all; 
    border-radius: 8px;    
    margin-left: 80px;
    margin-top: 0px;  

 
 

  }
}
html {
  background-color: midnightblue;
}
.bookForm {
  display: grid;
  width: 275px;
  border: solid rgb(5, 5, 3) 4px;
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(4, 163, 236, 0.747);
  color: rgb(217, 255, 0);
  align-content: center;  
  margin-right: 200px;  
  margin-left: 110px;  


}
#bookName {
  margin: 8px;  
  border-radius: 8px;
}
#bookAuthor {
  margin: 8px;  
  border-radius: 8px;   
  border: 4px solid rgb(1, 3, 1);  

}
#read {
  margin: 8px;  
  border-radius: 8px;
}
#submit {
  margin: 8px;
  border: solid rgba(255, 255, 255, 0.61) 2px;
  border-radius: 8px;
}
table {
  width: 200px;
  margin: 0px auto;
  border: solid rgba(255, 250, 250, 0.651) 2px; 
  border-radius: 8px;    
  margin-left: 80px;  
  display: flex;  
  float: right; 
  margin-top:  0px;  





  

}
table,
th,
td {
  border-collapse: collapse; 
  border-radius: 8px;   
  margin-left: 80px;  
  display: flex;  
  float: right;  
  margin-top: 0px;  




 
}
th,
td {
  border: solid 2px rgba(0, 0, 0, 0.979);
  padding: 4px;
  background-color: rgba(4, 181, 212, 0.664);
  color: rgb(229, 255, 0); 
  border-radius: 8px;  
  font-weight: bold;    
  margin-left: 80px;  
  display: flex;
  float: right;  
  margin-top: 0px;  




}
th {
  text-align: center;
  background-color: rgba(6, 189, 221, 0.747);   
  border: 4px solid rgb(0, 0, 0);  
  color: rgb(217, 255, 0); 
  border-radius: 8px;
  text-decoration: underline;    
  margin-left: 80px;  
  display: flex;
  float: right;
  margin-top: 0px;  



}
#settings {
  width: 200px; 
  border-radius: 8px;  
  margin-left: 200px;  
  margin-top: 0px;


}
#settings > * {
  margin-top: 0px;
  border: solid white 2px; 
  border-radius: 8px;    
  margin-left: 200px;

}
.Header {
  margin-top: 0px;
  height: 80px;
  display: grid;
  align-items: center;
  text-align: center;
  background-color: rgba(5, 154, 253, 0.342);
  color: rgb(255, 238, 0);  
  border-radius: 8px;
  width: 45%;
  margin-left: 55px;  
  font-weight: bold;
  justify-content: center;
  border: 1px solid rgb(255, 238, 0);
}
.Header > p {
  margin-left: 0px;
  margin-right: auto;
}
.Footer {
  text-align: center;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
  background-color: rgba(0, 162, 255, 0.425);
  color: rgb(0, 0, 0);
  width: 31%;
  margin-left: 115px;
  font-weight: bold;  
  justify-content: center;  
  display: grid;   
  border: 1px solid rgb(249, 253, 4);
  height: 55px;

}


